<h1 class="<%= @projeto.situation_verbose %>"><%=h @projeto.nome %></h1>

<pre><%=h @projeto.descricao %></pre>

<p>
  <b>Situação:</b>
  <%= @projeto.situation_verbose %>
</p>

<p>
  <b>Pasta:</b>
  <%=h @projeto.pasta %>
</p>

<p>
  <b>Repositório:</b>
  <%= @projeto.repositorio %>
</p>

<p>
  <b>Dados do último commit:</b>
  <pre><%= @projeto.dados_do_ultimo_commit %></pre>
</p>

<%= link_to 'Alterar', edit_projeto_path(@projeto) %> |
<%= link_to 'Analisar', analisar_projeto_path(@projeto), :method => :post %> |
<%= link_to 'Voltar', projetos_path %>

<h2>Últimas Análises</h2>

<% @projeto.analises.each do |analise| %>

	<div id="analise_<%= analise.id %>">
	<h3 class="<%= analise.situation_verbose %>"><%= link_to_remote analise.created_at, :url => show_analysis_projeto_path(@projeto, :analysis_id => analise.id) %></h3>
	</div>

<% end %>
