<% content_for :head do %>
  <meta HTTP-EQUIV="Refresh" CONTENT="10">
<% end %>

<h1>Projects</h1>

<% if @projects.empty? %>

<p>There's no projects to analyse. Read instructions below to use Inotegration. NOTE: If you already followed the instructions and this page is still empty, wait some minutes for the scheduled task to run, or run "rake projects:analyse" manually. For additional information, check de README file below:</p>

<%= pre_text File.read(RAILS_ROOT + '/README') %>

<% else %>

<table>
  <tr class="<%= cycle 'impar', 'par' %>">
    <th>Name</th>
    <th>Last Build Status</th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= project.situation_verbose %> <%= cycle 'impar', 'par' %>">
    <td><%= link_to h(project.nome), project %></td>
    <td><%=h project.situation_verbose %> (<%= format_date(project.last_analysis_at) rescue 'Never' %>)</td>
  </tr>
<% end %>
</table>

<% end %>
<br />
<p>Last refresh: <%= format_date Time.now %></p>