<% content_for :head do %>
  <meta HTTP-EQUIV="Refresh" CONTENT="10">
<% end %>

<h1>Projects</h1>

<% if @projects.empty? %>

<p>There's no projects to analyse. Read instructions below to use Inotegration. NOTE: If you already followed the instructions and this page is still empty, wait some minutes for the scheduled task to run, or run "rake projects:analyse" manually. For additional information, check de README file below:</p>

<pre><%=h File.read(RAILS_ROOT + '/README') %></pre>

<% else %>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Last Analysis</th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= project.situation_verbose %>">
    <td><%= link_to h(project.nome), project %></td>
    <td><%=h project.situation_verbose %></td>
    <td><%=h project.last_analysis_at || 'Never' %></td>
  </tr>
<% end %>
</table>

<% end %>
<p>Last refresh: <%= Time.now.to_s :db %></p>